body {
    background-image: url('cicy_fondo.png');
    background-size: contain; 100% 100%; /* Stretch the image to fit within the viewport */
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: rgba(0, 128, 0, 0.3); /* Green background with 80% opacity */
    padding: 10px;
    color: white;
    position: relative;
}

header .logo {
    width: 5%; /* 10% of original size */
    max-height: 50px;
    margin-right: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

header h1 {
    margin-left: 70px; /* Adjust to ensure the header title is not overlapped by the logo */
}

nav {
    background-color: rgba(0, 128, 0, 0.3); /* Green background with 80% opacity */
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.content {
    background-color: rgba(255, 255, 255, 0.3); /* White background with 80% opacity */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

footer {
    background-color: rgba(0, 128, 0, 0.3); /* Green background with 80% opacity */
    color: white;
    padding: 10px;
    text-align: center;
}
