body {
    background-image: url('cicy_fondo.png');
    background-size: 100% 100%; /* Stretch the image to fit within the viewport */
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.content {
    background-color: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

header, nav, footer {
    background-color: rgba(0, 128, 0, 0.8); /* Green background with 80% opacity */
    color: white;
    padding: 10px;
    text-align: center;
}

header .logo {
    width: 200px; /* Set the desired width for the logo */
    height: 275px; /* Maintain aspect ratio */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    margin: 20px 0;
    text-align: center;
    width: 80%; /* Adjust the width as needed */
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

.image-container p {
    margin: 10px 0 0;
    font-size: 16px;
    color: #333;
}
